DEBUG = True

# You should change this secret key to a uniquely secret string before deploying
SECRET_KEY = '6E1C924B-C03B-4F7F-97DE-B72EE2338B39'

ELASTICSEARCH_HOST = 'http://127.0.0.1:9200'
ELASTICSEARCH_INDEX = 'annotator'

ANNOTATOR_HOST = 'your-annotator-store-host.com'
ANNOTATOR_PORT = 443

SSL_CERTIFICATE_PATH = '/home/user/path/to/certificate.crt'
PRIVATE_KEY_PATH = '/path/to/private.key'

AUTH_ON = False
AUTHZ_ON = False
